*.bak
*.exe
*.dll
./library/backup/
./example/c++/x64/
./example/c++/x64/
./example/delphi/__history/
./wrapper/delphi/__history/
.example/c#/Assembler/bin/
.example/c#/Assembler/obj/
./dll/backup/
./dll/lib
*.o
*.ppu
*.rst
*.obj
*.log
*.compiled
*.res
*.a
*.dcu
*.rsm
*.local
*.identcache