*.bak
*.exe
*.dll
./example/c++/autoassemble/x64/
./example/c++/scanner/x64/
./example/delphi/autoassemble/__history/
./wrapper/delphi/__history/
./dll/backup/
./dll/lib
*.o
*.ppu
*.rst
*.obj
*.log
*.compiled
*.res
*.a
*.dcu
*.rsm
*.local
*.identcache
*.config
*.pdb
*.manifest
*.idb
*.tlog
*.lastbuildstate
*.ilk